{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>NARZEDZIOWNIA</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="{% static 'narzedziownia/css/styles.css' %}"  type="text/css" />
    {% block css %}

    {% endblock css %}
</head>
<body>
<div class="container">
<a class="navbar-brand" href=#><img src="{% static 'narzedziownia/logo.jpg' %}" alt="s" ></a>
<div id="tabs">
<ul>
  <li class="current"><a href="{% url 'narzedziownia:pracownicy_lista'%}"><span>Pracownicy</span></a></li>
  <li><a href="{% url 'narzedziownia:narzedzia_lista'%}"><span>Narzedzia</span></a></li>
  <li><a href="/narzedziownia/szablony_wybor/" ><span>Szablony pobran</span></a></li>
  <li><a href="{% url 'narzedziownia:odziez_lista' %}" ><span>Odziez</span></a></li>
</ul>
</div>
<br><br><br>
{% block body%}
{% endblock %}
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>



</div>
</body>

<script type="text/javascript">

function myFilter(pos,inp) {
  var input, filter, table, tr, td, i;
  input = document.getElementById(inp);
  filter = input.value.toUpperCase();
  table = document.getElementById("tabela");
  tr = table.getElementsByTagName("tr");
  for (i = 1; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[pos];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

function runVnc() {
    try {
		var shell = new ActiveXObject("WScript.Shell");  
		
    		/*var appTvnViewer = "C:\\Program Files\\TightVNC\\tvnviewer.exe\";*/
    		shell.run('notepad.exe');
	} catch(e) {
    		alert(e);
	}

}
$(function() {
   $( ".datepicker" ).datepicker({
     changeMonth: true,
     changeYear: true,
     yearRange: "1900:2012",
     // You can put more options here.

   });
 });
</script>
</html>
