<!DOCTYPE html>
{% extends 'narzedziownia/base.html' %}

{% load staticfiles %}
{% load jsignature_filters %}

{% block body %}
<script>
var dz = [];
var wa = [];
</script>
{%for i in dzialy%}
<script>
dz.push("{{i.dzial}}");
</script>
{%endfor%}
{%for i in warianty%}
<script>
wa.push({
    wariant: "{{i.wariant}}",
    dzial: "{{i.dzial}}"
});
</script>
{%endfor%}

<div class="container" align="center">
	<div class="row">
		<div class="col-10">
			<br><br>
			<form name="wypozycz" id="wypozycz" method="POST" enctype="multipart/form-data" action="">
			{% csrf_token %}
			<input id="barcode" name="barcode" onfocusout="barcode.focus()" onKeyUp="wypozycz.submit()" type="text"></input>
				<br><br>
			</form>
		<br><br>


		
		</div>
		<div class="col-2">
			<br><br>
			<button onClick="goAddrMan({{Prac.pk}})">TRYB RĘCZNY</button>
			
		</div>
	</div>
	<div class="row">
		<br><br><br>
	</div>
	<div class="row">
		<div class="col-4">
			<a>PRACOWNIK</a>
			<br><br>

			<img src="{% static 'odziez/photos/' %}{{Prac.nr_pracownika}}.bmp" style="width:150px;" align="center">
			<br>
			{{Prac.nr_pracownika}}
			<br>
			{{Prac.nazwisko_imie}}
			<br>
			<a href={% url 'narzedziownia:potwierdz_barcode' Prac.pk %}>WYSWIETL</a>
			
		</div>
		<div class="col-8">
			<table id="tabel" class="table table-sm">
			<tr>
			<th>
			NARZĘDZIE/OPIS
			
			</th>
			<th>
			ILOŚĆ
			
			</th>
			</tr>
			{%for i in Pobr_filter%}
                    {%if i.signature == None and i.signature_handy == None %}
                        <tr style="color:#FF0000">
                        {% else %}
                        <tr >
                        {% endif %}

			<td>
			{{i.narzedzie}} / {{i.narzedzie.opis}}
			</td>
			<td>
			{{i.ilosc}}
			</td>
			<td>
			{{i.data_pobrania}}
			</td>
			<!--
			<td>
			{{i.data_oddania}}
			</td>-->
			<td>
			<a href='http://jan-svr-intra01:8000/narzedziownia/pracownicy_usun_pobranie_barcode/{{Prac.pk}}/{{i.pk}}/'>X</a>
			</td>
			<td>
                               {%if i.signature != None %}
                                KARTA

                                {% elif i.signature_handy != None%}


                                        <img src="{{ i.signature_handy|signature_base64 }}" alt="{{ i }}" width="100px"/>
                                {%else%}
                                BRAK
                                {% endif %}


     			</td>
			</tr>
			{%endfor%}
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
document.getElementById("barcode").focus();


function hide(id) {
if( document.getElementById(id).style.visibility == "visible")
{
document.getElementById(id).style.visibility = "hidden";
}
else
{	
document.getElementById(id).style.visibility = "visible";
document.getElementById(id).type = "text";

}
}
function fill() {

alert("Hello! I am an alert box!!");
}

function initWariant() {
        //document.write(wa,dz);
        try{
                d = document.getElementById("dzial");

        } catch(error){
                alert(error);
        }
        var sel_war=document.getElementById("wariant");
        while(sel_war.options.length > 0) {
        sel_war.remove(0);
        }
        for(i in wa){
                if(wa[i].dzial==d.value){
                        //document.write(wa[i].dzial,d.value);
                        //document.write(wa[i].wariant);
                        var option = document.createElement("option");
                        option.text=wa[i].wariant;
                        sel_war.add(option);
                }
        }
}

function goAddr(dzial,war,prac) {

dzial = document.getElementById(dzial);
war = document.getElementById(war);


url="http://jan-svr-intra01:8000/narzedziownia/pracownicy_szablon/"+dzial.value+"/"+war.value+"/"+prac+"/";
 window.location.href = url;

}
function goAddrMan(prac) {


url="http://jan-svr-intra01:8000/narzedziownia/pracownicy_edit/"+prac+"/";
window.location.href = url;

}
</script>
{% endblock body %}
