{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>NARZEDZIOWNIA</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="{% static 'narzedziownia/css/styles.css' %}"  type="text/css" />

    <script type="text/javascript">
        setTimeout(function() {
            window.location.href = "{% url 'narzedziownia:awaiting' %}";
        }, 10000);
    </script>

</head>
{% block body %}
<div class="container">

	<div class="row">
		<div class="col-4">
  			<img src="{% static 'odziez/photos/' %}{{Prac.nr_pracownika}}.bmp" height="200px">
		</div>
		<div class="col-6">
    			<h5 class="card-title">DANE PRACOWNIKA</h5>
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item">{{Prac.nr_pracownika}}</li>
			    <li class="list-group-item">{{Prac.nazwisko_imie}}</li>
			    <li class="list-group-item">{{Prac.dzial}}</li>
			  </ul>
			<center>
			<a>POTWIERDZAM LISTĘ UŻYTKOWANYCH NARZĘDZI</a>
			<form name="prac" method="GET" enctype="multipart/form-data" action="">
				{% csrf_token %}
				{{form.potwierdzenie}}
			</form>
	
			{{form_s.media}}
			<form name="prac" method="GET" enctype="multipart/form-data" action="">
				{% csrf_token %}
				{{form_s.signature}}
			<input class="button" type="submit" value="SIGN"/>
			</form>
			
				
			<center>
			

		</div>
	</div>

	<div class="row">
		<div class="col-4">
			<table class="table table-sm">
			
			{%for i in Pobr_filter_kol1%}
			<tr>
				<td>
					{{i.narzedzie}}
				</td>
				<td>
					{{i.ilosc}}
				</td>
				<td>
					{{i.data_pobrania}}
				</td>
				<td>
					{{i.data_oddania}}
				</td>
			</tr>
			{%endfor%}
			</table>
		
			
		</div>
		<div class="col-4">	
			<table class="table table-sm">
			
			{%for i in Pobr_filter_kol2%}
			<tr>
				<td>
					{{i.narzedzie}}
				</td>
				<td>
					{{i.ilosc}}
				</td>
				<td>
					{{i.data_pobrania}}
				</td>
				<td>
					{{i.data_oddania}}
				</td>
			</tr>
			{%endfor%}
		
			</table>
		</div>
		<div class="col-4">	
			<table class="table table-sm">
			
			{%for i in Pobr_filter_kol3%}
			<tr>
				<td>
					{{i.narzedzie}}
				</td>
				<td>
					{{i.ilosc}}
				</td>
				<td>
					{{i.data_pobrania}}
				</td>
				<td>
					{{i.data_oddania}}
				</td>
			</tr>
			{%endfor%}
		
			</table>
		</div>
	</div>
	<div class=row>
	</div>
		


</div>



<script type="text/javascript">
function hide(id) {
if( document.getElementById(id).style.visibility == "visible")
{
document.getElementById(id).style.visibility = "hidden";
}
else
{	
document.getElementById(id).style.visibility = "visible";
document.getElementById(id).type = "text";

}
}
function fill() {

alert("Hello! I am an alert box!!");
}


</script>
{% endblock body %}
